<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745391489017-0e38runbesm2fdie0dhc6id00a0utt0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745391489017-0e38runbesm2fdie0dhc6id00a0utt0q</string>
	<key>API_KEY</key>
	<string>AIzaSyDNPKOEJc9RShfaL8zWrL73O6REUwSAmKU</string>
	<key>GCM_SENDER_ID</key>
	<string>745391489017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.hyejinahn.mbti</string>
	<key>PROJECT_ID</key>
	<string>mbti-225df</string>
	<key>STORAGE_BUCKET</key>
	<string>mbti-225df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745391489017:ios:77e075aeb81015d2914728</string>
	<key>DATABASE_URL</key>
	<string>https://mbti-225df.firebaseio.com</string>
</dict>
</plist>